
.container{
    border: 2px solid white;
    border-radius: 1rem;
}

.contact-container{
    border: 2px solid white;
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-list{
    margin: 0rem;
    padding: 0rem 1rem;
}

.contact-list{
    list-style-type: none;
    text-align: left;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
}

.row-list{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.add-contact{
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10rem;
    border: 0;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #1db653;
    cursor: pointer;
}

.back-btn-contact{
    border: 0;
    position: relative;
    right: 40%;
    color: darkred;
    background-color: #282c34 ;
    font-size: calc(0.2rem + 2vmin);
    cursor: pointer;
}