.form{
margin: 1rem 0;
}

.div-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content-priority{
    display: flex;
    justify-content: space-between;
}

.label-priority{
    width: 40%;
    background-color: white;
    border-radius: 0.5rem;
}

.select-priority{
    width: 57%;
    border-radius: 0.5rem;
}

.btn-addForm{
    margin: 0;
}